@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: #eef0ff;
  font-family: inter;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.card-container {
  width: 90vw;
  max-width: 450px;
  margin: auto;
  background-color: #fff;
  border-radius: 9px;
  border-left: 4px solid #0049e6;
  padding: 15px 10px;
}
h2 {
  font-size: 17px;
  color: #333;
  margin: 5px 0px;
  text-transform: capitalize;
}
.task-badge {
  display: flex;
  margin-bottom: 4px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: x-small;
  align-items: center;
}
.task-priority {
  background-color: #b80438;
  color: #fff;
  padding: 4px 8px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.task-status {
  width: 8px;
  height: 8px;
  background-color: #b80438;
  border-radius: 50%;
  display: inline-block;
}
.task-status-wrapper {
  background-color: #e5edff;
  color: #6f86e0;
  padding: 4px 8px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.task-content-body {
  display: flex;
  gap: 2px;
}
.task-action-btns {
  display: flex;
  gap: 15px;
  margin-left: auto;
  height: fit-content;
}
.task-action-btns button {
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.task-action-btns button:hover {
  opacity: 0.5;
}
.task-description {
  font-size: 11px;
  color: #333;
  margin-bottom: 10px;
  line-height: 1.5;
}
.task-tag-wrapper {
  display: flex;
  gap: 10px;
}
.task-tag-wrapper li {
  list-style: none;
  background-color: #c8d8f3;
  color: #3c4c61;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 11px;
  font-weight: 500;
}
.task-completion {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
  border-bottom: 1px solid #c8d8f3;
  padding-bottom: 10px;
}
.task-completion input {
  width: fit-content;
}
label {
  font-size: small;
  color: #333;
}
input[type="checkbox"] {
  cursor: pointer;
  accent-color: #0052ff;
}
.task-time {
  font-size: 11px;
  color: #333;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  padding-top: 10px;
  line-height: 1.5;
}
.task-time h3 {
  text-transform: uppercase;
  font-size: 10px;
  padding-bottom: 2px;
}
.task-deadline {
  display: flex;
  align-items: center;
  gap: 5px;
}
.task-timeframe {
  display: flex;
  align-items: center;
  gap: 5px;
}

.task-edit-form-wrapper {
  background-color: #ffffff;
  width: 300px;
  padding: 0px 15px;
  border-radius: 10px;
}
form {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-evenly;
}
label {
  display: block;
  margin-bottom: 3px;
}
label,
option,
select,
.action-btns > button {
  text-transform: capitalize;
}
input {
  padding: 3px 10px;
  border-radius: 5px;
  border: 1px solid red;
  height: 25px;
}
input,
textarea,
.task-priority-dropdown,
.task-status-dropdown,
select {
  width: 100%;
}
select {
  padding: 5px;
}
textarea{
  resize: none;
  padding: 10px;
}
.task-indicator-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.action-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}
.action-btns button {
  display: inline-block;
  padding: 5px 10px;
  height: 30px;
  cursor: pointer;
  border: none;
  border-radius: 7px;
  margin: 10px 0;
}

.view-card {
  display: none;
}
.edit-card {
  display: block;
}
